function SnowFall.new 3
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 1
pop local 0
push constant 1
pop local 1
push constant 1
pop local 2
push constant 72
call Array.new 1
pop this 0
label WHILE_EXP0
push local 0
push constant 9
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 10
lt
not
if-goto WHILE_END1
push local 2
push constant 1
sub
push this 0
add
push constant 512
push local 0
call Math.multiply 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 512
add
call SnowFlake.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
push constant 1
pop local 1
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function SnowFall.fall 4
push argument 0
pop pointer 0
push constant 22
call String.new 1
push constant 83
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
pop local 3
push constant 0
pop local 1
push constant 1
pop local 2
push constant 1
push constant 17
call Output.moveCursor 2
pop temp 0
push local 3
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 1
push constant 72
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call SnowFlake.draw 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 9
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 1
pop local 2
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
