function Main.main 1
push constant 16384
push constant 100
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 30
push constant 30
call Screen.drawPixel 2
pop temp 0
push constant 0
return
